.searchPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/img/carro_bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5); 
}

.searchBox {
  background: rgba(10, 10, 10, 0.85); 
  backdrop-filter: blur(15px); 
  border-radius: 20px;
  padding: 50px 70px; 
  width: 700px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

.logoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.logoHeader span {
    margin-left: 10px;
}

.mainTitle {
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 1.1rem;
    color: #ccc;
    margin-bottom: 40px;
}

.searchForm {
    text-align: left; 
}

.formLabel {
    display: block;
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 20px;
}

.vehicleTypeGroup {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.vehicleButton {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px 15px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s, border-color 0.3s;
    display: flex;
    align-items: center;
}

.vehicleButton span {
    margin-right: 5px;
}

.vehicleButton:hover {
    background: rgba(255, 255, 255, 0.2);
}

.activeCar {
    background: #555; 
    border-color: #f00; 
}

.formRow {
    display: flex;
    gap: 20px;
}

.inputGroup {
    flex: 1;
}

.inputFieldBox {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 5px;
    padding: 10px 15px;
    height: 50px; 
}

.inputFieldBox span {
    margin-right: 10px;
    color: #333; 
}

.inputField {
    flex-grow: 1;
    background: none;
    border: none;
    color: #333;
    font-size: 1rem;
    outline: none;
}

.inputField::placeholder {
    color: #777;
}

.searchButton {
    width: 100%;
    background: linear-gradient(to right, #0056b3, #00bfff); 
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 50px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.searchButton:hover {
    opacity: 0.9;
}