.container {
    padding: 40px;
    min-height: 100vh;
    background: #111;
    color: white;
}

.titulo {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: bold;
}

.botaoVoltar {
    margin-bottom: 30px;
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    background: #444;
    color: white;
    transition: 0.3s;
}

.botaoVoltar:hover {
    background: #666;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
}

.card {
    padding: 20px;
    background: #1a1a1a;
    border-radius: 12px;
    text-align: center;
}

.subtitulo {
    margin-bottom: 15px;
    font-size: 1.3rem;
    font-weight: 600;
}