.container {
  min-height: 100vh;
  background: linear-gradient(#141414, #0a0a0a);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 550px;
  background: #111;
  border-radius: 18px;
  padding: 22px;
  color: #fff;
  box-shadow: 0 15px 50px rgba(0,0,0,.7);
}

.datasRow {
  display: flex;
  gap: 12px;
  margin-top: 16px;
  width: 100%;
}

.label {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
}

.input {
  margin-top: 6px;
  padding: 10px;
  border: 1px solid #2f2f2f;
  border-radius: 8px;
  background: #1a1a1a;
  color: #fff;
  outline: none;
  font-size: 14px;
  transition: .2s ease;
}

.input:hover {
  border-color: #3f3f3f;
}

.input:focus {
  border-color: #16a34a;
}

.inputGroup {
  flex: 1;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 10px 15px;
  border: 1px solid transparent;
   margin-top: 18px;
}

.inputGroup span {
  margin-right: 15px;
  color: #bbb;
  font-size: 1.1rem;
}

.inputField {
  flex-grow: 1;
  background: none;
  border: none;
  color: white;
  padding: 5px 0;
  font-size: 1rem;
  outline: none;
  appearance: none;
}

.inputField option {
  background: #222;
  color: white;
}

.inputField::placeholder {
  color: #888;
}

.imagem {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
}

.info {
  margin-top: 14px;
}

.info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.km {
  color: #9ca3af;
}

.status {
  margin-top: 6px;
  color: #22c55e;
  font-weight: bold;
}

.botoes {
  display: flex;
  gap: 12px;
  margin-top: 18px;
}

.confirmar {
  flex: 1;
  background: #16a34a;
  border: none;
  padding: 12px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.confirmar:hover {
  background: #15803d;
}

.cancelar {
  flex: 1;
  background: #27272a;
  border: none;
  padding: 12px;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.loading,
.erro {
  color: white;
  padding: 40px;
}